@import "./Scss/base/_colors";
.container {
  margin-top: 3%;
  display: grid;
  justify-content: center;
  align-content: center;
  h1 {
    text-align: center;
  }
  &__items {
    display: grid;
    & > div {
      margin: 0.8rem;
    }
  }
}
.users {
  margin: 2% auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  button {
    width: 80%;
    height: 80%;
  }
}
.ant-select-selector,
.ant-select-selector {
  display: none !important;
}
.ant-table-pagination.ant-pagination {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}
.add.ant-btn,
.add.ant-btn:hover,
.add.ant-btn:active .add.ant-btn:focus {
  background-color: #2d80b5;
  width: 100%;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  height: 4rem;
}
.update.ant-btn,
.update.ant-btn:hover,
.update.ant-btn:active .update.ant-btn:focus {
  background-color: #52c41a;
  width: 100%;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  height: 4rem;
}
.ant-pagination {
  float: unset !important;
  text-align: center;
  .ant-pagination-item-active {
    background: #2d80b5;
    border-color: #2d80b5;
    border-radius: 50%;
  }
  .ant-pagination-item a {
    color: var(--black-fourth);
    padding-top: 1px;
    padding-bottom: 1px;
    &:hover {
      color: #2d80b5;
    }
  }
  .ant-pagination-item-active a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  .ant-pagination-prev {
    margin-right: 1rem !important;
  }
  .ant-pagination-next {
    margin-left: 1rem !important;
  }
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    background: $white !important;
    border-radius: 50%;
    box-shadow: 0 0.6px 2px 0.25px;
  }
  .ant-pagination-prev:focus .ant-pagination-item-link,
  .ant-pagination-next:focus .ant-pagination-item-link,
  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    color: var(--black-eight);
  }
  .ant-pagination-item:not(.ant-pagination-item-active) {
    border-radius: 50%;
  }
  .anticon {
    vertical-align: -1px;
    color: var(--ash-fivth);
  }
}

@media only screen and (max-width: 56.25em) {
  .ant-pagination {
    float: unset !important;
    text-align: center;
    .ant-pagination-item-active {
      background: $primary;
      border-color: $primary;
      border-radius: 50%;
    }
    .ant-pagination-item a {
      color: var(--black-fourth);
      padding-top: 1px;
      padding-bottom: 1px;
      font-family: var(--Book);
      &:hover {
        color: $primary;
      }
    }
    .ant-pagination-item-active a {
      color: $white;
      &:hover {
        color: $white;
      }
    }
    .ant-pagination-prev {
      margin-right: 1rem !important;
    }
    .ant-pagination-next {
      margin-left: 1rem !important;
    }
    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link {
      background: $white !important;
      border-radius: 50%;
      box-shadow: 0 0.6px 2px 0.25px;
    }
    .ant-pagination-prev:focus .ant-pagination-item-link,
    .ant-pagination-next:focus .ant-pagination-item-link,
    .ant-pagination-prev:hover .ant-pagination-item-link,
    .ant-pagination-next:hover .ant-pagination-item-link {
      color: var(--black-eight);
    }
    .ant-pagination-item:not(.ant-pagination-item-active) {
      border-radius: 50%;
    }
    .anticon {
      vertical-align: -1px;
      color: var(--ash-fivth);
    }
  }
}

@media only screen and (max-width: 37em) {
  .ant-pagination {
    float: unset !important;
    text-align: center;
    .ant-pagination-item-active {
      background: $primary;
      border-color: $primary;
      border-radius: 50%;
    }
    .ant-pagination-item a {
      font-size: 1.5rem;
      color: var(--black-fourth);
      padding-top: 0px;
      padding-bottom: 1px;
      font-family: var(--Book);
      &:hover {
        color: $primary;
      }
    }
    .ant-pagination-item {
      // width: 2.5rem;
      height: 2.8rem;
    }
    .ant-pagination-item-active a {
      color: $white;
      &:hover {
        color: $white;
      }
    }
    .ant-pagination-prev {
      margin-right: 1rem !important;
    }
    .ant-pagination-next {
      margin-left: 1rem !important;
    }
    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link {
      background: $white !important;
      border-radius: 50%;
      box-shadow: 0 0.6px 2px 0.25px;
    }
    .ant-pagination-prev:focus .ant-pagination-item-link,
    .ant-pagination-next:focus .ant-pagination-item-link,
    .ant-pagination-prev:hover .ant-pagination-item-link,
    .ant-pagination-next:hover .ant-pagination-item-link {
      color: var(--black-eight);
    }
    .ant-pagination-item:not(.ant-pagination-item-active) {
      border-radius: 50%;
    }
    .anticon {
      vertical-align: -1px;
      color: var(--ash-fivth);
    }
  }
}
